@model List<core.Table.Entry.Coffee>

@{
    ViewBag.Title = "Coffee list";
    Layout = "~/Views/Edit/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@Html.ActionLink(" ", "CoffeeEntry", new { id = item.RowKey }, new { @class = "glyphicon glyphicon-edit" })</td>
            <td>@Html.ActionLink(" ", "CoffeeDelete", new { id = item.RowKey }, new { @class = "glyphicon glyphicon-remove" })</td>
        </tr>
    }
</table>

@Html.ActionLink(" ", "CoffeeEntry", null, new { @class = "glyphicon glyphicon-plus" })

@Styles.Render("~/content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
